@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

#__next {
  height: 100%;
}

@layer base {
  body {
    @apply dark:bg-black bg-white;
  }
}
@layer components {
  .loginPageInput {
    @apply p-2 bg-transparent placeholder:text-gray-400 border w-full focus:outline-none border-darkerOrange;
  }

  .navbarUserButton {
    @apply flex items-center justify-center rounded-full h-[40px] w-[40px] border-white hover:border-2 hover:border-mainOrange transitionDuration;
  }
}

@layer utilities {
  .transitionDuration {
    @apply transition duration-150;
  }
}
